body{
    text-align: center;
    background-color:#090D1A;
    color:gray;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color:white;
}
.aside h1{
    font-style:italic;
    color:white;
    margin-bottom:250px;
    border-bottom: 1px solid #274792;
}
.page{
 display:flex; 
 gap:20px;
}
.aside {
    background-color: #0D1527;
  width: 200px;
  height:95vh;
  padding: 0px 20px;
}
.meniu{
    width: 200px;
    
}
.display h2{
    text-align:left;
}
.display {
    
    /*background-color: #0D1527;*/
    width:100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin:20px;
  
}
.cards{
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:20px;
    margin:150px;
    
}
.sup{
    display:flex;
    flex-direction:row;
   gap:25%;
}
.temp{
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.05);
    border: 1px solid #1e293b;
    border-radius: 15px;
    background-color: #0D1527;
    padding:25px;
   }
.move{
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.05);
    border: 1px solid #1e293b;
    border-radius: 15px;
    background-color: #0D1527;
    padding:25px;
}
.meniu a{
    display:block;
    
    padding:15px;
    text-decoration: none;
    color:inherit;
    text-align: left;
}
#btn-data{
    margin:20px;
    background-color:blue;
    color:white;
    padding:15px;
}
.sensor-data>div{
    min-width:300px;/*ajustare selector */
    background-color: #111625;
    border:1px solid rgb(10, 12, 40);
    border-radius:6px;
    color:#4da6ff;
    margin:35px auto;
    padding:15px;
    text-align:center;
    width:50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    /*background-color: #ffffff;*/
     animation: aparitieFinuta 0.5s ease-out forwards;
     opacity:0;
}
.sensor-data p {
    color: #38b6ff;                 /* Textul turcoaz din imaginea ta */
    margin: 10px;                 /* Spațiu între rândurile de text */
    font-family: monospace;
}
@keyframes aparitieFinuta {
    from {
        opacity: 0;
        transform: translateY(20px); /* Vine de la 20 de pixeli mai de jos */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Ajunge în poziția lui normală */
    }
}
.separator-senzor{
    border-top: 3px solid rgb(10, 12, 40);
    border-bottom:0;
   /* padding:15px;*/
}
.zona-grafic {
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.05);
    border: 1px solid #1e293b;
     border-radius: 15px;
    background-color: #0D1527;
    padding:25px;
   display: block !important;
    position: relative;
    width: 100%;       /* Ocupă toată lățimea containerului în care se află */
    max-width: 800px;  /* Împiedică deformarea pe ecrane mari */
    height: 350px !important;
    margin-top: 30px; 
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.05);
    border: 1px solid #1e293b;
    
    background-color: #0D1527;
    
}